:root {
  --green-logo: #28a745;
  --main-white: #ffffff;
  --hero-white: #e9e9e9;
  --black-color-text: #333333;
  --main-bg-color: #f4f4f4;
  --btn-second-bg-color: #28a745;
  --blue-bg-color: #0284d0;
  --footer-bg-color: #333333;
}

body {
  background-color: var(--main-bg-color);
  color: var(--black-color-text);

  font-weight: 400;

  font-family: 'Open Sans', sans-serif;
}

/* all */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1360px;
  outline: 2px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Header */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  color: var(--main-white);
  font-size: 18px;
  line-height: 1.55;
  background-color: var(--footer-bg-color);
}

.logo-img {
  display: block;
  padding-right: 10px;
}

.logo {
  color: var(--main-white);
  font-size: 35px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-nav {
  display: flex;
}

.logo.link {
  display: flex;
  align-items: center;
}

.logo-first-words {
  color: var(--btn-second-bg-color);
}

.site-nav.list {
  display: flex;
  list-style-type: none;
  gap: 38px;
}

.site-nav.list .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 20px;
}

.link.nav {
  color: var(--main-white);
}

/* Hero */

.hero {
  padding-top: 209px;
  padding-bottom: 284px;
}

.hero {
  color: var(--hero-white);

  text-align: center;
  background-color: var(--footer-bg-color);
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero-prg {
  font-size: 22px;
  line-height: 1.68;
  margin-bottom: 29px;
}

.hero-button {
  display: flex;
  align-items: center;
  background-color: var(--btn-second-bg-color);
  cursor: pointer;
  border: inherit;
  font-size: 18px;
  line-height: 1.55;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;
}

.hero-icon {
  margin-right: 5px;
}

/*features*/

.features {
  padding-top: 40px;
  padding-bottom: 19px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  gap: 71px;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-features-icon {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  color: var(--main-white);
  background-color: var(--green-logo);
}

.features-icon {
  fill: currentColor;
}

.features-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-transform: capitalize;
}

.features-text {
  width: 362px;

  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}

/* we provide */
.green-section {
  background-color: var(--btn-second-bg-color);
}
.button-primary {
  color: var(--main-white);
  background-color: var(--btn-second-bg-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  border: 1px solid var(--main-white);
  border-radius: 5px;
  width: 167px;
  height: 50px;
  cursor: pointer;
}
.text-what-you {
  display: flex;
  flex-direction: column;
  width: 680;
  margin: auto;
  padding: 84px 44px 84px 30px;
}

.container.what-you-are {
display: flex;
align-items: center;
padding: 0;
justify-content: center;
}

.text-white {
  color: var(--main-white);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 5px;
}
.title {
  color: var(--main-white);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 26px;
}

.description-text {
  color: var(--main-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  margin-top: 0;
  margin-bottom: 17px;
  padding-top: 0;
}

/* business cases */

.business-cases {
  color: var(--black-color-text);
  padding-top: 50px;
  padding-bottom: 50px;
}

.text {
  font-size: 20px;
  line-height: 1.65;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.title-second {
  color: var(--black-color-text);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  margin-bottom: 34px;
}

.paragraph {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 39px;
  text-align: center;
}
.business-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  justify-content: center;
}
/*blog*/
.blog {
  background-color: var(--blue-bg-color);
}

.blog-container {
display: flex;
align-items: center;
padding: 0;
}

.text-block {  
  display: flex;
  flex-direction: column;
    width: 680;
   padding: 112px 44px 113px 30px;
   margin: auto;
}

.title-blog {
  padding-top: 5px;
}

.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

}

.img-block {
  height: 517px;
  width: auto;
}

.button {
  display: inline-block;
  border: 1px solid var(--main-white);
  border-radius: 5px;
  width: 196px;
  padding: 11px 31px 10px 42px;
  margin-top: 17px;
 

  color: var(--main-white);
  background-color: var(--blue-bg-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

}

.button {
  cursor: pointer;
}

.button:hover {
}

.button:focus {
}

/*callback*/ 

.callback {
  background-color: var(--main-bg-color);
  color: var(--black-color-text);
  width: auto;
}

.callback-container {
display: flex;
align-items: center;
justify-content: center;
padding: 0;

}

.callback-form {
  width: 680px;
  height: 460px;
  align-items: center;
justify-content: center;
padding: 78px 30px 82px 30px;
  }

.form-group {
  display: flex;
  flex-direction: column;
width: 620px;
height: 40px;
}

.form-input:placeholder-shown {
    border-color: var(--main-white);
}

.form-input:not(:placeholder-shown) {
  border-color: var(--main-white);
}

.form-input {
  padding: 5px;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.form-input::placeholder {
  color: #808080;
}

.form-input {
  width: 620px;
margin-top: 35px;
}

.button-request {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 60px;
  width: 620px;
  height: 40px;
  
  background-color: var(--btn-second-bg-color);
  color: var(--main-white);
  font-size: 18px;
  line-height: 1.39;
}

.button-request:hover {
}

.button-request:focus {
}

.footer {
  background-color: var(--footer-bg-color);
}

/* Our Profesional Team*/
.team-top {
  line-height: 1.65;
}
.team h2 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
}
.team-description {
  font-size: 18px;
  line-height: 1.56;
}
.team-representatives {
  display: flex;
}
.team-representatives h3 {
  font-size: 25px;
  line-height: 1.26;
  font-weight: 400;
}
.team-representatives p {
  font-size: 18px;
  line-height: 1.56;
}

/* FOOTER */

.footer {
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  text-align: center;
  color: var(--main-white);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
}

.social-link {
  fill: currentColor;
  color: var(--main-white);
}

.social-link:hover,
.social-link:focus {
  color: var(--green-logo);
}
