/* business cases */
.business-cases {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}
.text {
  font-size: 20px;
  line-height: 1.65;
}
.paragraph {
  font-size: 18px;
  line-height: 1.6;
}
